<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="{{ mainClass }}" id="{{ mainClass }}">
  {% block main %}
    {{ content | safe }}
  {% endblock %}
  </body>
</html>
