<header>
  <nav class="main-nav">
    <div class="box">
      <a href="/home" class="home-btn"><h1>MP</h1></a>
    </div>
    <div class="box" >
      <h2>{{ pageTitle }}</h2>
    </div>
    <div class="box">
      <button class="menu-btn">
        <svg viewBox="0 0 150 100" width="100" height="84">
          <rect width="150" height="42" rx="25" fill="{{ fontColor }}"></rect>
          <rect y="50" width="150" height="42" rx="25" fill="{{ fontColor }}"></rect>
        </svg>
        </button>
        <div class="menu hidden">
          <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/rooms/meta-view">digital experience</a></li>
            <li><a href="/connect">connect</a></li>
          </ul>
          <div class="social-icons">
            <a href=" https://www.facebook.com/menstruationproject" target="_blank"><img src="/assets/images/facebook.svg" alt="facebook icon"></a>
            <a href="https://www.instagram.com/menstruationproject/" target="_blank"><img src="/assets/images/instagram.svg" alt="instagram icon"></a>
          </div>
          <div class="gdpr">
            <a href="/imprint">imprint</a>
            <a href="/data-privacy">data privacy</a>
          </div>
        </div>
    </div>
  </nav>
</header>
