{% extends './default.njk' %}

{% block main %}
  <div class="landing-container">
    {% include './sticky_header.njk' %}
    <main class="main-{{ mainClass }} content">
      {{ content | safe }}
    </main>
  </div>
{% endblock %}
