<footer>
  <div class="flex-col">
    <small>Presented by:</small>
    <div class="img-wrapper">
      <img src="/assets/images/ti-logo.png" alt="Transition Institute Logo" id="ti">
    </div>
  </div>
  <div class="flex-col">
    <small>Funded by:</small>
    <div class="img-wrapper">
      <img src="/assets/images/HKF_logo.png" alt="Haupt Stadt Kultur Fonds Logo" id="hfk">
    </div>
  </div>
</footer>
