<footer class="flex-footer">
  <div class="flex-col">
    <small>Presented by:</small>
    <div class="img-wrapper">
      <img src="/assets/images/ti-logo.png" alt="Transition Institute Logo" id="ti">
    </div>
  </div>
  <div class="flex-col">
    <small><em>Menstrualities</em> funded by:</small>
    <div class="img-wrapper">
      <img src="/assets/images/HKF_logo.png" alt="Haupt Stadt Kultur Fonds Logo" id="hfk">
    </div>
  </div>
  <div class="flex-col">
    <small><em>Meta Mata</em> funded by:</small>
    <div class="img-wrapper three-group">
      <img src="/assets/images/draussenstadt_logo.png" alt="Draussenstadt Logo" id="drs">
      <img src="/assets/images/senatsverwaltung_logo.png" alt="Senatsverwaltung Logo" id="svw">
      <img src="/assets/images/swb-logo.png" alt="SWB Logo" id="swb">
    </div>
  </div>
</footer>
