{% extends './default.njk' %}

{% block main %}
  {% include './header.njk' %}
  <main class="{{ mainClass }}" style="background-image: url('{{ bgImage }}')">
    {{ content | safe }}
  </main>
{% endblock %}
