{% extends './default.njk' %}

{% block main %}
  {% if mainClass == 'map' %}
  <nav class="cornered">
    <ul>
      <li><a href="/" class="home-btn">MP</a></li>
      <li id="about-link"><a href="/about">about</a></li>
      <li><a href="/artists">artists</a></li>
      <li><a href="/connect">connect</a></li>
    </ul>
  </nav>
  <audio src="" class="bg-sound" loop></audio>
  {% else %}
    <nav class="cornered">
      <ul>
        <li><a href="/" class="home-btn">MP</a></li>
        <li><a href="/rooms/meta-view">meta-view</a></li>
      </ul>
    </nav>
    <audio src="" class="bg-sound" loop></audio>
  {% endif %}
  {% if entryVideo %}
  <div class="bg-video" id="entry-video">
    <video autoplay muted playsinline>
      <source src="{{ entryVideo }}" type="video/mp4">
      <img src="{{ bgImage if bgImage }}" alt="Your browser does not support the <video> tag">
    </video>
  </div>
  {% endif %}

  <div class="bg-video hidden" id="loop-video">
    <video muted loop playsinline>
      <source src="{{ loopVideo }}" type="video/mp4">
      <img src="{{ bgImage if bgImage }}" alt="">
    </video>
  </div>

  <main class="main main-{{ mainClass }}">
    {{ content | safe }}
  </main>
{% endblock %}
