<header>
  <nav class="landing-nav">
    <a href="/home" class="home-btn"><h1>MP</h1></a>
    <ul>
      {% if mainClass == "tickets" %}
        <li><a href="/#info">Info</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#artists">Artists</a></li>
        <li><a href="/#accessibility">Accessibility</a></li>
      {% else %}
        <li><a href="#info">Info</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#artists">Artists</a></li>
        <li><a href="#accessibility">Accessibility</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
