<header>
  <nav class="landing-nav">
    <a href="/" class="home-btn"><h1>MP</h1></a>
    <ul>
      <li><a href="#info">Exhibition</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#meta-mata">Meta Mata</a></li>
      <li><a href="#artists">Artists</a></li>
      <li><a href="#accessibility">Accessibility</a></li>
    </ul>
  </nav>
</header>
