---
layout: room
title: Menstruation Project - Anatomy
bgImage: https://res.cloudinary.com/tonipanoche/image/upload/v1621008902/menstruation-project/Current_Affairs_Final_Frame.jpg
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/v1621008896/menstruation-project/current_affairs_loop.mp4
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/v1621011315/menstruation-project/current_affairs_intro.mp4
---

