---
layout: room
title: Menstruation Project - Anatomy
bgImage: https://res.cloudinary.com/tonipanoche/image/upload/v1621768035/menstruation-project/Anatomy_Final_Frame.jpg
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/v1621767955/menstruation-project/anatomy_loop.mp4
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/v1621767937/menstruation-project/anatomy_intro.mp4
mainClass: anatomy
---

<div class="room">
  <div class="room-box area-1">
    <button class="hidden" data-vimeo-id="549323657">click to watch</button>
  </div>
  <div class="box-1 area-1-content content hidden left">
    <div class="artist-info">
      <p class="title">Sex 3.0 (2019)</p>
      <p>Dani Coyle</p>
      <p>Video (2:01 min)</p>
    </div>
    <div class="text">
      <p>This extraordinary animation by intersex activist and digital artist Dani Coyle depicts the metamorphosis of a sexual organ. Sex 3.0 explores the point in which the spectrum of biological sex becomes too ambiguous to be socially acceptable.</p>

      <p>Intersex rights are often brushed under the carpet, even under the broader umbrella of LGBTQIA+ activism. Despite shocking statistics on the prevalence of depression, suicide and violence against the intersex community, the general public is barely aware of the existence of intersex people, let alone the issues the intersex community faces. This erasure, due to stigma and secrecy, reinforces toxic (and false!) cultural belief in binary genders.</p>
    </div>
  </div>

  <div class="room-box area-2">
    <button class="hidden" data-vimeo-id="549320156">click to watch</button>
  </div>
  <div class="box-2 area-2-content content hidden">
    <div class="artist-info">
      <p class="title">Cervix Journey (2019)</p>
      <p>Ellebasi Gebhardt in collaboration with Oliver Holyoake</p>
      <p>Video (3:36 min)</p>
    </div>
    <div class="text">
      <p>This video was recorded during a performance at a festival where a group of women gathered in a sheltered circle and, guided by artist Ellebasi Gebhardt, explored their vaginas by inserting a small camera that was connected to a live projection of the recording. Through this process the artist calls for a playful approach to public self-exploration, embedded in a supportive context of sisterhood. Creating high-spirited safe spaces for artistic enquiry of the body lies at the core of her immersive performance practice.</p>

      <p>What you see here is one of the recordings of a journey towards the cervix of a woman who had given birth only a few months before.</p>
    </div>
  </div>

  <div class="room-box area-3">
    <button class="hidden">click to view</button>
  </div>
  <div class="box-3 area-3-content content hidden">
    <div class="artist-info">
      <p class="title">Vulvaversity (2019 - ongoing)</p>
      <p>Awareness Initiative</p>
      <p>Photography</p>
    </div>
    <div class="text">
      <p>Vulvaverstiy is dedicated to demystifying the vulva, making it visible and celebrating its diversity. The project clears up ideas of norms and wants to encourage people to throw overboard the shame regarding vulvas that has developed over many centuries. Vulvaversity wants to dispel the myth of the invisible, hairless and girlish vulva, as it is idealized in pornography in particular. </p>

      <p>The motto is: take a really close look! And the goal: to show how the vulva really is, diverse and varied, in all its colors and shapes.</p>
    </div>
  </div>

  <div class="room-box area-4">
    <button class="hidden">click to view</button>
  </div>
  <div class="box-4 area-4-content content hidden left">
    <div class="artist-info">
      <p class="title">Plazenta Baum (2018)</p>
      <p>Ellebasi Gebhardt</p>
      <p>Sculpture (20x20cm, placenta in epoxy resin)</p>
    </div>
    <div class="text">
      <p>Plazenta Baum (placenta tree) is a skillfully processed and preserved placenta that celebrates the miraculous beauty of life-giving and life itself. With her vision of making it resemble a tree, installation and performance artist Ellebasi Gebhardt worked on the uterus organ straight after a close friend’s birth, in order to avoid drying out processes or having to freeze it, which could have easily made the intricate nourishing body break. Carefully tainting its veins and arteries in different colours to show the inner flow to and from the fetus, the piece breathes the divine rhythm of life.</p>
    </div>
  </div>
</div>
