---
layout: room
title: Menstruation Project - Current Affairs
bgImage: https://res.cloudinary.com/tonipanoche/image/upload/v1621008902/menstruation-project/Current_Affairs_Final_Frame.jpg
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621008896/menstruation-project/current_affairs_loop.mp4
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621011315/menstruation-project/current_affairs_intro.mp4
mainClass: current-affairs
---
<div class="room">
  <div class="room-box area-1">
    <div data-vimeo="549314196" class="hidden btn-watch watch">
      click to watch
    </div>
  </div>
  <div class="box-1 area-1-content content hidden">
    <div class="artist-info">
      <p class="title">Bother (2021)</p>
      <p>Aliche Sbrb in collaboration with Lucyferass</p>
      <p>Video (0:30 min)</p>
    </div>
    <div class="text">
      <p>We are constantly exposed to violence and hypersexualization, yet it is only recently that ads for tampons have allowed blood to appear in red instead of blue. Ironic, isn't it?</p>

      <p>The video shows the archive of images accumulated over the years to record my menstrual process that I often could not publish, because it was banned from social media. This time I did not want to miss the opportunity.</p>

      <p>The projection of the images makes them less impactful and this is a limit but also a metaphor to symbolize the extreme modesty in the face of the menstrual cycle.</p>

      <p>Bother? They ask us not to show it, not to show it when you go to the bathroom with a tampon, not to say it out loud and not to talk about it. And so, to feed their annoyance, we gave it back to them with sound.</p>
    </div>
  </div>
  <div class="art-content area-1-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>

  <div class="room-box area-2">
    <div class="hidden btn-watch watch" data-vimeo="549324284">
      click to watch
    </div>
  </div>
  <div class="box-2 area-2-content content hidden">
    <div class="artist-info">
      <p class="title">Dr Carnesky’s Incredible Bleeding Woman (2017)</p>
      <p>Marisa Carnesky</p>
      <p>Live Art / Theater / Cabaret Show</p>
      <p>[ Photo by Sarah Ainslie & Excerpt of Video by Tom Cottey ]</p>
    </div>
    <div class="text">
      <p>1970s horror meets 2020 feminist activism as Dr Carnesky’s Incredible Bleeding Woman paints the country red…</p>

      <p>Putting the magic back into menstruation, show woman and artist Marisa Carnesky reinvents menstrual rituals for a new era, drawing on the hidden power of a forgotten matriarchal past. Referencing representations of women and blood from ancient mythology to classic horror movies, menstruation takes centre stage in a profound exploration of what it means to be ‘female’. Issues around fertility, body shame, taboo and lost ancient herstories are scrutinised, politicised & reclaimed.</p>
    </div>
  </div>
  <div class="art-content area-2-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>

  <div class="room-box area-3">
    <div class="hidden btn-watch watch" data-vimeo="549322123">
      click to watch
    </div>
  </div>
  <div class="box-3 area-3-content content hidden">
    <div class="artist-info">
      <p class="title">Social Period (2021) </p>
      <p>Social Period eV / Niki Pielsticker & Laura Hartmann</p>
      <p>Video (0:52 min)</p>
    </div>
    <div class="text">
      <p>What if you don’t have access to things that make you feel clean and good during your period? Social Period aims to shed a light on marginalized bleeding within our fast paced society.</p>
    </div>
  </div>
  <div class="art-content area-3-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>


  <div class="room-box area-4">
    <div class="hidden btn-watch watch">
      click to view
    </div>
  </div>
  <div class="box-4 area-4-content content hidden">
    <div class="artist-info">
      <p class="title">Cheers + Bloody Joint + Red Carpet (2019) </p>
      <p>Maayan Sophia Weisstub</p>
      <p>Digital Collages</p>
    </div>
    <div class="text">
      <p>Maayan Sophia Weisstub showcases a new way of looking at the menstrual cycle, an integral part of the female experience. Shedding light on what is so often hidden, she creates a connection between the repressed and forbidden pubic blood to positive, sensual experiences; a glass of wine, a sought-after red carpet event. </p>

      <p>Thus the outcast becomes a visible and positive experience, something one doesn't need to be ashamed of – something to accept with love. </p>
    </div>
  </div>
  <div class="art-content area-4-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>

  <div class="room-box area-5">
    <div class="hidden btn-watch watch">
      click to view
    </div>
  </div>
  <div class="box-5 area-5-content content hidden left">
    <div class="artist-info">
      <p class="title">Feel the Flow (2019)</p>
      <p>Iva Samina & Frau Rabe</p>
      <p>Photography</p>
    </div>
    <div class="text">
    <p>In art and visual communication blood is mostly replaced by something else – may it be red paint, fabric, woolen threads, petals or other materials. That's exactly what the artists explicitly didn't want with this project: no metaphor, stylization or aestheticization, as they believe that menstruation as the prerequisite for giving life is aesthetic enough.</p>

    <p>Feel the Flow aims to break the taboo around actual depiction of menstrual blood in order to deconstruct its associations tainted with shame.</p>
    </div>
  </div>
  <div class="art-content area-5-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>

  <div class="room-box area-6">
    <div class="hidden btn-watch watch">
      click to view
    </div>
  </div>
  <div class="box-6 area-6-content content hidden left">
    <div class="artist-info">
      <p class="title">Krwawie - I bleed (2020)</p>
      <p>Angelika Marciszewska</p>
      <p>Photography (35mm) </p>
      <p>[ Model: Klaudia Lewandowska @lewaluk ]</p>
    </div>
    <div class="text">
      <p>Polish photographer Angelika Marciszewska dedicates her works to body positivity in relation to the female body. This image is from the #krwawie (bleed) series which was created for the initiative Akcja Menstruacja (Menstruation Action), the first foundation in Poland to combat menstrual poverty and actively dismantles the period taboo. Her raw images destigmatize and call for self-love, in which body shapes and sizes are represented in the context of the period, far from the heteronormative view.</p>
    </div>
  </div>
  <div class="art-content area-6-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>

  <div class="room-box area-7">
    <div class="hidden btn-watch watch" data-vimeo="549327470">
      click to watch
    </div>
  </div>
  <div class="box-7 area-7-content content hidden">
    <div class="artist-info">
      <p class="title">OH SH*T! (2020)</p>
      <p>Elsa Van Damke</p>
      <p>Short Film (7:41 mins)</p>
    </div>
    <div class="text">
      <p>OH SH*T! is a short film that wants to unfuck the taboo around menstruation.</p>
      <p>The viewer follows 27 year old Maggie on a date at her crush’s apartment. When she suddenly gets her period, she rushes to the bathroom — where she finds herself confronted with a monster that’s been living in her head for far too long.</p>
    </div>
  </div>
  <div class="art-content area-7-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
  </div>

</div>
