---
layout: room
title: Menstruation Project - Cycles & Thresholds
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1622148112/menstruation-project/cycle_intro.mp4
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1622148109/menstruation-project/cycle_loop.mp4
mainClass: cycles
---

<div class="room">
  <div class="room-box area-1">
    <div class="btn-watch watch hidden" data-vimeo="714442518">click to view</div>
  </div>
  <div class="box-1 area-1-content content hidden">
    <div class="artist-info">
      <p class="title">I Bare Seasons (2021)</p>
      <p>Taïs Bean</p>
      <p>Animation (1:23min)</p>
    </div>
    <div class="text">
      <p>I Bare Seasons is based on a song from a series of improvised chants created daily. It stands as an audio visual prayer to the wisdom imparted by our cyclical nature.</p>
    </div>
  </div>
  <div class="art-content area-1-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-2">
    <div class="btn-watch watch hidden" data-image-path="/v1622189245/menstruation-project/Irina_Clavel__PORTRAIT.jpg">click to view</div>
  </div>
  <div class="box-2 area-2-content content hidden">
    <div class="artist-info">
      <p class="title">Irina Clavel (2020)</p>
      <p>Charlotte J Ward</p>
      <p>Photography</p>
    </div>
    <div class="text">
      <p>Portrait of a young girl in her first menstruating years. She has passed the threshold of menarche.</p>
    </div>
  </div>
  <div class="art-content area-2-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-3">
    <div class="btn-watch watch hidden" data-vimeo="714442320">click to view</div>
  </div>
  <div class="box-3 area-3-content content hidden">
    <div class="artist-info">
      <p class="title">Circles and Lines (2015)</p>
      <p>Dasa Hink</p>
      <p>Video (excerpt: 1:13 min / original 5:34 min) </p>
    </div>
    <div class="text">
      <p>Circles and Lines is a video and sound piece, playing with light and shadow as the perpetual cycle of hiding and revealing oneself, for self discovery.</p>
    </div>
  </div>
  <div class="art-content area-3-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-4">
    <div class="btn-watch watch hidden" data-image-path="/v1622481534/menstruation-project//The-Jolly-Reaper.jpg">click to view</div>
  </div>
  <div class="box-4 area-4-content content hidden left">
    <div class="artist-info">
      <p class="title">The Jolly Reaper (2020) </p>
      <p>Taïs Bean</p>
      <p>Drawing, ink, 30x42cm</p>
    </div>
    <div class="text">
      <p>The Jolly Reaper holds both the deaths and gifts of life. He is the fear but also the wisdom of our wounds. He waters new stems with fresh blood. He eats life for life, with both violence and graceful reverence. He is whole and holy.</p>
    </div>
  </div>
  <div class="art-content area-4-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-5">
    <div class="btn-watch watch hidden" data-vimeo="714442739">click to view</div>
  </div>
  <div class="box-5 area-5-content content hidden left">
    <div class="artist-info">
      <p class="title">Reflections on Seasons (2021)</p>
      <p>Kelly and Tita Diepenbrock </p>
      <p>Video and Sound Collage (9:18 min)</p>
    </div>
    <div class="text">
      <p>'Reflections on Seasons' was inspired by and made specifically for the Menstruation Project, weaving together snippets of a Zoom conversation between grandmother and grandaughter on the seasons and cycles of a woman's life.  </p>
    </div>
  </div>
  <div class="art-content area-5-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-6">
    <div class="btn-watch watch hidden">click to view</div>
  </div>
  <div class="box-6 area-6-content content hidden left">
    <div class="artist-info">
      <p class="title">The Price of Choice (2017 - 2021)</p>
      <p>Kasia Strek</p>
      <p>Documentary Photography </p>
    </div>
    <div class="text">
      <p>Around the world more than 160 lives are lost daily to unsafe and illegal abortions. While 90% occur in developing countries, Eastern Europe or the USA account for the missing 10%. In this work Kasia Strek focuses on the reasons behind such high death counts.</p>
    </div>
  </div>
  <div class="art-content area-6-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <span class="scroll-more">Scroll for more</span>
    <div id="slider" class="media-content">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191557/menstruation-project/Kasia_with_Text_1-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191560/menstruation-project/Kasia_with_Text_2-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191567/menstruation-project/Kasia_with_Text_3-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191521/menstruation-project/Kasia_with_Text_4-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191567/menstruation-project/Kasia_with_Text_5-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191564/menstruation-project/Kasia_with_Text_6-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191524/menstruation-project/Kasia_with_Text_7-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191533/menstruation-project/Kasia_with_Text_8-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191528/menstruation-project/Kasia_with_Text_9-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191538/menstruation-project/Kasia_with_Text_10-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191541/menstruation-project/Kasia_with_Text_11-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191544/menstruation-project/Kasia_with_Text_12-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191548/menstruation-project/Kasia_with_Text_13-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191556/menstruation-project/Kasia_with_Text_14-min.jpg" alt="">
      <img src="https://res.cloudinary.com/tonipanoche/image/upload/q_auto,f_auto,dpr_auto/v1622191552/menstruation-project/Kasia_with_Text_15-min.jpg" alt="">
    </div>
  </div>
</div>
