---
layout: room
title: Menstruation Project - Leaking Bodies
bgImage: https://res.cloudinary.com/tonipanoche/image/upload/v1621774744/menstruation-project/leaking_bodies_final_frame.jpg
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621774967/menstruation-project/leaking_bodies_loop.mp4
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621774757/menstruation-project/leaking_bodies_intro.mp4
mainClass: leaking-bodies
---

<div class="room">
  <div class="room-box area-1">
    <div class="hidden btn-watch watch" data-vimeo="555905318" data-music="true">click to view</div>
  </div>
  <div class="box-1 area-1-content content hidden">
    <div class="artist-info">
      <p class="title">Bunny Egg (2021)</p>
      <p>Chris Phillips</p>
      <p>Digital Photography</p>
    </div>
    <div class="text">
      <p>Bunny Egg is a satirical series that mocks traditional Easter elements. It displays them ironically as fertility symbols being used in combination with a naked male body, transfusing binary bodily designations. With his striking photographic work Brazilian artist and Pornceptual founder Chris Phillips engages in contemporary semiotics while advocating a sex positive culture.</p>
    </div>
  </div>
  <div class="art-content area-1-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-2">
    <div class="hidden btn-watch watch" data-vimeo="555909383" data-music="true">click to view</div>
  </div>
  <div class="box-2 area-2-content content hidden">
    <div class="artist-info">
      <p class="title">Period in Love (2016)</p>
      <p>Nolwen Cifuentes</p>
      <p>Photography (35mm)</p>
    </div>
    <div class="text">
      <p>This series explores queer love and intimacy while bleeding. It portrays the bond that these women have by trusting and loving each other during this time of the cycle that is generally experienced as a private, more secluded time. Colombian-French photographer and director Nolwen Cifuentes gently captures the tender space in which trust adds a sacred layer to loving union.</p>
    </div>
  </div>
  <div class="art-content area-2-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-3">
    <div class="hidden btn-watch watch" data-vimeo="549341293">click to view</div>
  </div>
  <div class="box-3 area-3-content content hidden">
    <div class="artist-info">
      <p class="title">Untitled (2019)</p>
      <p>Harriet Davey in collaboration with Imogen Davey</p>
      <p>CGI Animation (1:02 min)</p>
    </div>
    <div class="text">
      <p>In this collaborative piece, the sisters Harriet (visuals) and Imogen Harvey (sound) join forces to address the excruciating dichotomy revolving around abortion. For in most countries, a fetus has more autonomy than the body it is being carried within.</p>

      <p>Their video piece depicts this chasm from a refreshingly fluxional angle, questioning the preposterous pillars of many societies today.</p>
    </div>
  </div>
  <div class="art-content area-3-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-4">
    <div class="hidden btn-watch watch" data-vimeo="555906439" data-music="true">click to view</div>
  </div>
  <div class="box-4 area-4-content content hidden left">
    <div class="artist-info">
      <p class="title">Plant Medicine Period Stories (2021)</p>
      <p>Justyna Green</p>
      <p>Digital Illustration</p>
    </div>
    <div class="text">
      <p>This vivid illustration portrays the feeling and contents of the artist’s psychedelic visions under the influence of Ayahuasca plant medicine. Justyna Green has suffered with severe period pain for years before receiving her endometriosis diagnosis and came on her period, in severe pain, in the middle of her first Ayahuasca ceremony.</p>

      <p>Being on her period whilst drinking the medicine, brought her psychedelic visions to all centre around the themes of the womb, blood loss, conceiving and miscarriage. Add to that severe pain, and you’re in for an intense experience.</p>
    </div>
  </div>
  <div class="art-content area-4-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-5">
    <div class="hidden btn-watch watch" data-vimeo="549335765">click to view</div>
  </div>
  <div class="box-5 area-5-content content hidden left">
    <div class="artist-info">
      <p class="title">Tremble, tremble! (2021)</p>
      <p>Lucyferass</p>
      <p>Video (0:29 min)</p>
    </div>
    <div class="text">
      <p>"Tremble, tremble!" is a simultaneous announcement and call for action: the menstruating witches are back! To Italian artist and self-acclaimed schizo-witch Lucyferass, menstruating means being expressive, releasing emotions and unleashing desires. </p>

      <p>“Our blood is no longer repressed and secreted, as well as our desires, our emotions and our freedom!”</p>
    </div>
  </div>
  <div class="art-content area-5-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>
</div>
