---
layout: room
title: Menstruation Project - Map
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621775190/menstruation-project/map_loop.mp4
mainClass: map
---

<div class="room">
  <a href="/rooms/volcano" class="room-box area-volcano">
  </a>
  <div class="area-volcano-content content hidden">
    Volcano
  </div>

  <a href="/rooms/current-affairs" class="room-box area-affairs">
  </a>
  <div class="area-affairs-content content hidden">
    Current Affairs
  </div>

  <a href="/rooms/anatomy" class="room-box area-anatomy">
  </a>
  <div class="area-anatomy-content content hidden">
    Anatomy
  </div>

  <a href="/rooms/red-tent" class="room-box area-tent">
  </a>
  <div class="area-tent-content content hidden">
    Red Tent
  </div>

  <!-- <a href="/rooms/directory" class="room-box area-directory">
  </a>
  <div class="area-directory-content content hidden">
    Directory
  </div>
 -->
  <a href="/rooms/cycles-thresholds" class="room-box area-cycles">
  </a>
  <div class="area-cycles-content content hidden">
    Cycles & Thresholds
  </div>

  <a href="/rooms/leaking-bodies" class="room-box area-bodies">
  </a>
  <div class="area-bodies-content content hidden">
    Leaking Bodies
  </div>
</div>
