---
layout: room
title: Menstruation Project - Meta View
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621775190/menstruation-project/map_loop.mp4
mainClass: map
---

<div class="mobile-view">
  <div class="text-content">
    <p>The digital exhibition is intended for a full experience and is very video heavy. Please visit through your desktop device!</p>
  </div>
</div>

<div class="room">
{#   <div class="explore-info content text">
    <p class="title">Go explore! Hover over different parts of the cell and click the image to enter the seven rooms of the exhibition.</p>
  </div> #}
  <a href="/rooms/volcano" class="room-box area-volcano">
  </a>
  <div class="area-volcano-content content hidden">
    Volcano
  </div>

  <a href="/rooms/current-affairs" class="room-box area-affairs">
  </a>
  <div class="area-affairs-content content hidden">
    Current Affairs
  </div>

  <a href="/rooms/anatomy" class="room-box area-anatomy">
  </a>
  <div class="area-anatomy-content content hidden">
    Anatomy
  </div>

  <a href="/rooms/red-tent" class="room-box area-tent">
  </a>
  <div class="area-tent-content content hidden">
    Red Tent
  </div>

  <a href="/rooms/directory" class="room-box area-directory">
  </a>
  <div class="area-directory-content content hidden">
    Directory
  </div>

  <a href="/rooms/cycles-thresholds" class="room-box area-cycles">
  </a>
  <div class="area-cycles-content content hidden">
    Cycles & Thresholds
  </div>

  <a href="/rooms/leaking-bodies" class="room-box area-bodies">
  </a>
  <div class="area-bodies-content content hidden">
    Leaking Bodies
  </div>

  <div id="map-info-box" class="room-box area-info info-box">
    <div class="btn-watch watch">i</div>
  </div>
  <div class="area-info-content content hidden left">
    <div class="artist-info">
      <p class="title">This is our interpretation of a uterine cell:</p>
    </div>
    <div class="text">
      <p>A cell is the smallest structural and functional unit of an organism that contains elements that stand in direct symbiosis with each other.</p>
      <p class="title">Go explore! Hover over different parts of the cell and click the image to enter the seven rooms of the exhibition.</p>
    </div>
  </div>
</div>

<footer class="main-footer">
  <div class="sponsors">
    <img src="/assets/images/ti-logo.png" alt="Transition Institute Logo">
    <img src="/assets/images/nue-logo.png" alt="Neu Start Kultur Logo">
    <img src="/assets/images/kf-logo.png" alt="Stiftungkunstfonds Logo">
  </div>
</footer>
