---
layout: room
title: Menstruation Project - Red Tent
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/v1621775400/menstruation-project/red_tent_loop.mp4
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/v1621775371/menstruation-project/red_tent_intro.mp4
mainClass: red-tent
---

<div class="room">
  <div class="room-box area-1">
    <button class="hidden">click to watch</button>
  </div>
  <div class="box-1 area-1-content content hidden">
    <div class="artist-info">
      <p class="title">Title????</p>
      <p>Halea Isabelle Kala</p>
      <p>Digital Triptych</p>
    </div>
    <div class="text">
      <p>The portrait of the artist’s and Menstruation Project Mama’s pregnant belly (depicted here in her 8th month, in April 2021) shows the life that she is carrying under her heart. Bearing the life that is growing in the warmly sheltered womb inside of her.</p>

      <p>Now, being in transition into motherhood with her first child’s birth approaching in a weeks, she feels a rush of gratitude and humility for the teachings and teachers in her life, as especially for her own mother’s boundless love. The mother is handing over the scepter for her daughter, in a sacred embrace, bowing to the inexpressible responsibility of caring for life.</p>
    </div>
  </div>
  <div class="room-box area-2">
    <button class="hidden">click to watch</button>
  </div>
  <div class="box-2 area-2-content content hidden">
    <div class="artist-info">
      <p class="title">MOON BLOOD (2020 - ongoing)</p>
      <p>Charlotte J Ward</p>
      <p>Photography</p>
    </div>
    <div class="text">
      <p>‘MOON BLOOD’ is an ongoing journey into the wildly powerful realms of the Menstrual Cycle through the means of photography, self-portraiture, embodied performance, menstrual blood paintings and explorations.</p>

      <p>The four photographs (in order of appearance) represent the four seasons of the cycle:</p>

      <p>Inner Winter [ menstruation ]<br>
      Surrendering to the wisdom within. Shedding the old skin.</p>

      <p>Inner Spring [ follicular phase ]<br>
      Gently blooming like a new born flower. Preparing to enter the world once more.</p>

      <p>Inner Summer [ ovulation ]<br>
      Celebrating life in all its juicy abundance of creation.</p>

      <p>Inner Autumn [ luteal phase ]<br>
      Setting boundaries with clarity and focus as my allies.</p>
    </div>
  </div>
  <div class="room-box area-3">
    <button class="hidden">click to watch</button>
  </div>
  <div class="box-3 area-3-content content hidden">
    <div class="artist-info">
      <p class="title">THE RED TENT</p>
      <p>ANITA DIAMANT</p>
    </div>
    <div class="text">
      <p>“The great mother whom we call Innana gave a gift to woman that is not known among men, and this is the secret of blood. The flow at the dark of the moon, the healing blood of the moon’s birth - to men, this is flux and distemper, bother and pain. They imagine we suffer and consider themselves lucky. We do not disabuse them.”</p>

      <p>“In the red tent, the truth is known. In the red tent, where days pass like a gentle stream, as the gift of Innana courses through us, cleansing the body of last month’s death, preparing the body to receive the new month’s life, women give thanks — for repose and restoration, for the knowledge that life comes from between our legs, and that life costs blood.” </p>

      <p>“If you want to understand any woman you must first ask about her mother and then listen carefully. Stories about food show a strong connection. Wistful silences demonstrate unfinished business. The more a daughter knows about the details of her mother's life - without flinching or whining - the stronger the daughter.” </p>
    </div>
  </div>
  <div class="room-box area-4">
    <button class="hidden">click to watch</button>
  </div>
  <div class="box-4 area-4-content content hidden left">
    <div class="artist-info">
      <p class="title">The Shit Song (2021)</p>
      <p>Taïs Bean</p>
      <p>Video (3:16min)</p>
    </div>
    <div class="text">
      <p>The Shit Song was created as part of a daily creation of improvised chants. The song was recorded and improvised in one shot, and then dubbed on video in one first shot. The Shit Song was created on an uninspired day and was forced out by means of surrender to utter frustration and discontent, and profound sense of meaningless uselessness. Just another premenstrual day.</p>
    </div>
  </div>
  <div class="room-box area-5">
    <button class="hidden">click to watch</button>
  </div>
  <div class="box-5 area-5-content content hidden left">
    <div class="artist-info">
      <p class="title">Power Myth Monster (2021)</p>
      <p>Lotte Meret</p>
      <p>Digital Collage </p>
    </div>
    <div class="text">
      <p>The poster illustration negotiates stigmatizations about menstruation and playfully twists sexist stereotypical advertising and consumer language. Text excerpts refer to the book ‘The Hormone Myth’ by Robyn Stein DeLuca. </p>
    </div>
  </div>
</div>
