---
layout: room
title: Menstruation Project - Volcano
loopVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621789461/menstruation-project/volcano_loop.mp4
entryVideo: https://res.cloudinary.com/tonipanoche/video/upload/f_auto,q_auto/v1621789492/menstruation-project/volcano_intro.mp4
mainClass: volcano
---

<div class="room">
  <div class="room-box area-1">
    <div class="hidden btn-watch watch" data-image-path="/v1622148106/menstruation-project/WARRIOR_BloodPaintingCollage.jpg">
      click to view
    </div>
  </div>
  <div class="box-1 area-1-content content hidden">
    <div class="artist-info">
      <p class="title">MOON BLOOD (2021)</p>
      <p>Charlotte J Ward</p>
      <p>Mixed Media</p>
    </div>
    <div class="text">
      <p>Menstrual blood on bamboo photo paper. Part of an ongoing body of work entitled ‘Moon Blood’. In this series delving into the mystically powerful realms of menstruation.</p>
    </div>
  </div>
  <div class="art-content area-1-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-2">
    <div class="hidden btn-watch watch" data-vimeo="714449319">click to view</div>
  </div>
  <div class="box-2 area-2-content content hidden">
    <div class="artist-info">
      <p class="title">Lilith (2020)</p>
      <p>Nina Doll</p>
      <p>Digital Sculpture (1:09 min) with music by Taïs Bean </p>
    </div>
    <div class="text">
      <p>The Goddess, the demon, freed herself to a life of freedom and empowerment.</p>
      <p>Ruler of the female cosmic energy with spirits floating around her.</p>
    </div>
  </div>
  <div class="art-content area-2-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-3">
    <div class="hidden btn-watch watch" data-vimeo="714448714">click to view</div>
  </div>
  <div class="box-3 area-3-content content hidden left">
    <div class="artist-info">
      <p class="title">What We’re Made Of (2018)</p>
      <p>Beth Madeley</p>
      <p>Animation (0:55 min)</p>
    </div>
    <div class="text">
      <p>A collaborative exploration with Eiril Linge that investigates the literal contents of our bodies as well as the trauma that informs our behaviours. This analogue animation piece embarks on an impressive meta-journey through historical and cultural domains.</p>
    </div>
  </div>
  <div class="art-content area-3-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

  <div class="room-box area-4">
    <div class="hidden btn-watch watch" data-vimeo="714448863">click to view</div>
  </div>
  <div class="box-4 area-4-content content hidden left">
    <div class="artist-info">
      <p class="title">Ultra Wet – Recapitulation (2017)</p>
      <p>Tabita Rezaire</p>
      <p>Installation (11:18 min)</p>
    </div>
    <div class="text">
      <p>The pyramid of ULTRA WET – RECAPITULATION harnesses healing energy from its tip, while its four faces retell vital stories of feminine-masculine alignments.</p>

      <p>This pyramidal site/sight excavates the spiritual and technological understandings of pre-colonial Africa and ancient indigenous ways of life regarding energetic polarities. As our Westernized global world reveres and enforces duality, its binary ideology is omnipresent in our collective consciousness.</p>
      <p>It is an ode to the fertile ground we have been and can still be.</p>
    </div>
  </div>
  <div class="art-content area-4-art-piece content content-big hidden">
    <div class="close"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="dot-hourglass loading"></div>
    <div class="media-content"></div>
  </div>

</div>
