---
layout: main
title: Menstruation Project - About
bgImage: 'https://res.cloudinary.com/tonipanoche/image/upload/v1620400399/menstruation-project/mp_background_about.jpg'
mainClass: about
pageTitle: about
---

<div class="content">
  <p>The Menstruation Project raises awareness about beyond-gender menstruation as a <a href="https://ro.tranzit.org/file/MANIFESTO-for-the-Gynecene.pdf" target="_blank">gynecene</a> phenomenon through artistic explorations of social, cultural and political layers of the period (or absence thereof) as well as the cycle as a whole – with the mission to educate and empower!</p>
  <p>Every month, from menarche to menopause, approximately half of the world's population goes through a menstrual cycle and yet it remains veiled by discrimination and taboo. This needs to change!</p>

  <p>The experimental digital as well as in-real-life formats aim to offer diverse perspectives on this important subject matter that is so central to our existence: as a feminist, speculative and critical-ironic extension of the Anthropocene, especially with regard to the human body, its processes and rhythms. </p>

  <p>The artists and art works selected within the framework of the Menstruation Project explore the definition and shape of yet unknown menstrualities, for non-binary, queer and intersectional positions on body, gender and evolution in the (post-)digital, posthuman, and cognitive-capitalist age, for the intrinsic connection between pleasure, resistance, and disgust, for post-pornographic sex and body positivity, and for alliances, friendships, and kinships beyond conventional motherhood.</p>

  <p>The exhibition thus furthermore holistically explores structures of patriarchy and how these relate to the biological, corporeal, cultural and symbolically powerful phenomena of menstruation. Bringing together ecofeminism, contemporary witchcraft, ancient wisdoms, social media activism and <a href="https://laboriacuboniks.net/manifesto/xenofeminism-a-politics-for-alienation/" target="_blank">xenofeminism</a>, this project positions itself – both through its actual content and design experience – in a unique intersection point that seeks to revolutionize the discourse and visual representations around the cycle.</p>

  <p>The <em>Menstruation Project</em> calls for the formation of new diversified and inherently inclusive cultures around the menstrual cycle!</p>
</div>
