---
layout: main
title: Menstruation Project - About
bgImage: 'https://res.cloudinary.com/tonipanoche/image/upload/v1620400399/menstruation-project/mp_background_about.jpg'
mainClass: about
pageTitle: about
---

<p>The digital exhibition experience Menstruation Project aims to raise awareness of the female* and cross-gender period as a gynecene phenomenon, with a particular focus on artistic explorations of social, cultural and political layers of menstruation (or absence thereof) and the life and monthly menstrual cycle as a whole.</p>

<p>Every month, from menarche to menopause, approximately half of the world's population goes through a menstrual cycle and yet it remains veiled by discrimination and taboo.</p>

<p>With this project we aim to offer diverse perspectives on this important subject matter that is so central to our existence:
as a (xeno- and techno-)feminist, speculative and critical-ironic extension of the Anthropocene, especially with regard to the human body, its processes and rhythms.</p>

<p>The artists and art works selected within the framework of the Menstruation Project explore the definition and shape of yet unknown, cross-gender menstrualities, for non-binary, queer and intersectional positions on body, gender and evolution in the (post-)digital, posthuman, and cognitive-capitalist age, for the intrinsic connection between pleasure, resistance, and disgust, for post-pornographic sexuality, and for alliances, friendships, and kinships beyond the expected.</p>

<p>The exhibition thus expansively explores the influence that biological, corporeal, cultural and symbolically powerful phenomena such as menstruation have on societies of the 21st century.</p>

<p>We call for the formation of new cultures around the menstrual cycle!</p>
