---
layout: main
title: Menstruation Project - Artists
bgImage: 'https://res.cloudinary.com/tonipanoche/image/upload/v1620400400/menstruation-project/mp_background_artists.jpg'
mainClass: artists
pageTitle: artists + works
---

<div class="artists-content">
  <div class="image-box">
    <img src="https://res.cloudinary.com/tonipanoche/image/upload/v1622179715/menstruation-project/MP_catalogue.png" alt="Thumbnail of the artist catalogue">
  </div>
  <div class="text-box">
    <p class="title">all artist bios and work descriptions can be found in our</p>
    <h2>Digital Exhibition Catalogue 2021</h2>
    <div class="links-section">
      <a href="https://res.cloudinary.com/tonipanoche/image/upload/v1622204383/menstruation-project/Menstruation_Project_Artists_Works.pdf" target="_blank">view online</a>
      <a href="/assets/images/menstruation-project-artists+works.pdf" download target="_blank">download</a>
    </div>
  </div>
</div>
