---
layout: legal
title: Menstruation Project - Data Privacy
bgImage: 'https://res.cloudinary.com/tonipanoche/image/upload/v1620400408/menstruation-project/mp_background_imprint.jpg'
mainClass: privacy
pageTitle: data & privacy
---

