---
layout: main
title: Menstruation Project - Digital Experience
bgImage: 'https://res.cloudinary.com/tonipanoche/image/upload/v1621008920/menstruation-project/Sample_Digital_Experience_Home_Page.png'
mainClass: digital-experience
pageTitle: digital experience
---

<a href="/rooms/current-affairs" class="current-affairs-room">
</a>

<a href="/rooms/anatomy" class="anatomy-room">
</a>
