---
layout: default
title: Menstruation Project
mainClass: home
---

{% block main %}

  <main class="main main-home">
  <nav class="cornered">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/rooms/map">digital exhibition</a></li>
      <li><a href="/artists">artists</a></li>
      <li><a href="/connect">connect</a></li>
    </ul>
  </nav>
    <div class="social-icons">
      <a href=" https://www.facebook.com/menstruationproject" target="_blank"><img src="/assets/images/facebook-logo.svg" alt="facebook icon"></a>
      <a href="https://www.instagram.com/menstruationproject/" target="_blank"><img src="/assets/images/instagram-logo.svg" alt="instagram icon"></a>
    </div>
    <img class="rotating main-logo" src="/assets/images/mp_titlecircle.png" alt="Menstruation Project Circular Title">
  </main>

  <footer>
    <div class="sponsors">
      <img src="/assets/images/ti-logo.png" alt="Transition Institute Logo">
      <img src="/assets/images/nue-logo.png" alt="Neu Start Kultur Logo">
      <img src="/assets/images/kf-logo.png" alt="Stiftungkunstfonds Logo">
    </div>
    <div class="gdpr">
      <a href="/imprint">imprint</a>
      <a href="/data-privacy">data privacy</a>
    </div>
  </footer>

{% endblock %}
