---
layout: landing
title: Menstruation Project
mainClass: landing
fontColor: rgb(0, 0, 0)
---

{% block main %}
  <div class="lead-image">
    {# <img src="/assets/images/desktop_lead_image.png" alt="menstrualities"> #}
  </div>
  <div class="main-content">
    <div class="info-section">
      <p class="section-title">info</p>
      <div class="flex">
        <p class="big-text my-0">
          alte münze berlin<br>
          molkenmarkt 2<br>
          10179 berlin<br>
        </p>
        <p class="big-text text-right my-0">29.09.<br>-<br> 15.10.22</p>
      </div>

      <div class="flex">
        <p>opening:<br>
        thursday 29.09. 18-24h</p>

        <p class="text-right">opening hours:<br>
        daily, 13-12h</p>
      </div>

      <div class="socials">
        <a href="https://www.instagram.com/menstruationproject/" target="_blank">instagram</a>
        <a href="https://www.facebook.com/menstruationproject" target="_blank">facebook</a>
      </div>
    </div>
    <div class="tickets-section">
      <p class="section-title">admission</p>
      <div class="flex-center">
        <p class="my-0">10€ regular<br>
        5€ reduced*</p>
        <a href="/tickets">Buy now!</a>
      </div>
      <p>Children younger than 12 years get in for free</p>
      <p>*Reduced admission: Schoolchildren, students, retirees, unemployed persons and recipients of ALG II, recipients under the Asylum Seekers Benefits Act and severely disabled persons are entitled to reduced prices on presentation of proof.</p>

      <p>Visitors who are holders of mark B disability cards and comparable international IDs are entitled to a free ticket for one accompanying person.</p>
    </div>
    <div class="statement-section">
      <p class="section-title">curatorial statement</p>
      <p class="my-0">MENSTRUALITIES presents works by 25 artists and collectives from around the world, brought together as an assemblage that extraordinarily fuses video, CGI, photography, sound-based work, performance, sculpture, and site-specific installations – spread across 2500m² of the historic production halls of Alte Münze, situated in the heart of Berlin.</p>
      <p>The art works selected within the framework of MENSTRUALITIES probe the definition and shape of yet unknown menstrualities for non-binary, queer and intersectional positions on body, gender and evolution. Alongside the exhibition, the Menstruation Project furthermore showcases a vibrant program composed of performances, talks, screenings and concerts.</p>
      <p>Dive into a cosmos of diverse-inclusive perspectives on ecofeminism, contemporary witchcraft, ancient wisdom and social media activism at an intersection point that seeks to explore and shake up the discourse and aesthetic representation around the menstrual cycle as well as the societal structures it is embedded in.</p>
    </div>

    <div class="artists-section">
      <p class="section-title">artists</p>
      <div class="names">
        <p class="name-info my-0">CENEx</p>
        <p class="name-info my-0">Charlotte J Ward</p>
        <p class="name-info my-0">Chris Phillips</p>
        <p class="name-info my-0">Ellebasi Gebhardt X Oliver Holyoake</p>
        <p class="name-info my-0">Friedemann Heckel</p>
        <p class="name-info my-0">Gery Georgieva</p>
        <p class="name-info my-0">Halea Isabelle Kala</p>
        <p class="name-info my-0">Ieva Balode</p>
        <p class="name-info my-0">Juliette Collas X Salomé Lubczanski</p>
        <p class="name-info my-0">Karin Ferrari</p>
        <p class="name-info my-0">Keiken X Ryan Vautier X Sakeema Crook</p>
        <p class="name-info my-0">Lea Petříková</p>
        <p class="name-info my-0">Lily Wittenburg</p>
        <p class="name-info my-0">Marina Marković</p>
        <p class="name-info my-0">Naomi Moonlion</p>
        <p class="name-info my-0">Nataša Prosenc Stearns</p>
        <p class="name-info my-0">Parker Day</p>
        <p class="name-info my-0">Phuong Linh Nguyen</p>
        <p class="name-info my-0">Rike Kreyenborg</p>
        <p class="name-info my-0">Stacie Ant</p>
        <p class="name-info my-0">Tabita Rezaire</p>
        <p class="name-info my-0">Taïs Bean</p>
        <p class="name-info my-0">Terre Thaemlitz</p>
        <p class="name-info my-0">Virginia Lupu</p>
        <p class="name-info my-0">Zoë Claire Miller</p>
      </div>
    </div>

    <div class="accessibility-section">
      <p class="section-title">accessibility</p>
      <div class="info">
        <p>The exhibition space is wheelchair accessible.<p>
        <p>If you are in need of any special assistance within the exhibition or at one of the events (sign language interpretation, etc.) please let us know beforehand, so we can arrange accordingly.</p>
      </div>
    </div>

  </div>
{% endblock %}
