---
layout: default
title: Menstruation Project
---

{% block main %}
<div class="bg-video">
  <video autoplay muted loop playsinline>
    <source src="https://res.cloudinary.com/tonipanoche/video/upload/v1620149393/menstruation-project/Updated_holding_page_video.mp4" type="video/mp4">
  </video>
</div>
<div class="connect-div">
  <a href="/contact">connect</a>
</div>
<footer>
  <div class="gdpr">
    <a href="/imprint">imprint</a> &
    <a href="/data-privacy">data privacy</a>
  </div>
</footer>
{% endblock %}
