@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 10s linear infinite;
}

#home .main {
  height: 90vh;
}

.main-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .main-logo {
    width: 30vw;
    position: sticky;
    top: 22%;
  }
  .social-icons {
    position: fixed;
    top: 30px;
    display: flex;
    width: 20ch;
    justify-content: space-around;
    align-items: center;
    a {
      color: $pink;
      text-decoration: none;
      font-family: 'Apoc Revelations Italic';
      font-size: 35px;
      padding: .25rem .75rem;
      border: 2px solid $pink;
      border-radius: 15px;
      box-shadow: $box-shadow;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
}

footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  .gdpr {
    color: $mint;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40ch;
    a {
      color: $mint;
      text-decoration: none;
      font-size: 28px;
      padding: .25rem .75rem;
      border: 2px solid $mint;
      border-radius: 15px;
      box-shadow: $box-shadow;
      font-family: 'Apoc Revelations Italic';
    }
  }
  .sponsors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65ch;
    margin-top: 1rem;
    img:first-child {
      width: 200px;
    }
    img:nth-child(2) {
      height: 50px;
    }
    img:nth-child(3) {
      width: 200px;
    }
  }
}
