.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30vw;
  }
  a {
    color: $pink;
    text-decoration: none;
    font-family: 'Apoc Revelations Italic';
    font-size: 32px;
    padding: .5rem .75rem;
    border: 2px solid $pink;
    border-radius: 15px;
    box-shadow: $box-shadow;
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .social-icons {
    margin-bottom: 1rem;
    a {
      padding-right: 1rem;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
  .gdpr {
    color: $mint;
    a {
      text-transform: uppercase;
      color: $mint;
      font-size: 18px;
    }
  }
  .sponsors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65ch;
    margin-top: 1rem;
    img:first-child {
      width: 200px;
    }
    img:nth-child(2) {
      height: 50px;
    }
    img:nth-child(3) {
      width: 200px;
    }
  }
}
