.landing-container {
  position: relative;
  z-index: 0;
  header {
    top: 0;
    position: sticky;
  }
}

#tickets  {
  header {
    z-index: 1000000000;
    background: white;
    .landing-nav h1 {
      @include respond-to('mediium') {
        font-size: 75px;
        border-radius: 35px;
      }
    }
  }
  .main-tickets {
    padding: 0px 25px;
  }
}

.landing-nav {
  display: flex;
  padding: 25px;
  padding-bottom: 0;
  z-index: 1;
  transition: 0.5s background-color ease;
  background: white;
  @include respond-to('medium') {
    background: transparent;
  }
  &.bg-white {
    background: white;
  }
  .home-btn {
    text-decoration: none;
  }

  h1 {
    font-family: 'Apoc Light';
    font-size: 75px;
    font-weight: unset;
    color: black;
    margin: 0;
    padding: 10px 15px;
    border-radius: 35px;
    border: 2px solid black;
    transition: 0.5s font-size ease;
    @include respond-to('medium') {
      padding: 15px 25px;
      font-size: 110px;
      border-radius: 45px;
    }
    &.smaller-logo {
      font-size: 75px;
      border-radius: 35px;
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    flex-grow: 1;
    justify-content: space-between;
    @include respond-to('medium') {
      flex-direction: row;
      align-items: flex-start;
    }
    a {
      color: black;
      text-transform: uppercase;
      font-size: 2rem;
      font-family: "NeueBit";
      text-decoration: none;
      @include respond-to('medium') {
        font-size: 2.5rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.buy-btn {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 15px;
  &:hover {
    color: white;
    background: black;
  }
}


.landing {
  // background-image: url("/assets/images/desktop_lead_no_text.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include respond-to('large') {
    background-size: cover;
  }
  .main-landing {
    margin-top: -190px;
    z-index: -10;
  }
  .lead-image {
    background-image: url("/assets/images/desktop_lead_image.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }

  .main-content {
    padding: 0 25px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: "NeueBit";
    font-size: 2rem;
    margin-bottom: 2rem;
    z-index: 3;
    > div {
      scroll-margin-top: 250px;
      position: relative;
    }
    @include respond-to('medium') {
      font-size: 2.5rem;
      > div {
        scroll-margin-top: 100px;
      }
      #info {
        scroll-margin-top: 110px;
      }
    }
  }
  .section-title {
    font-family: "tuppence";
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
    border-bottom: 1px solid black;
    scroll-margin-top: 25px;
    position: sticky;
    top: 135px;
    background: white;
    @include respond-to('medium') {
      font-size: 2.5rem;
    }
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .socials a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    display: block;
    &:hover {
      text-decoration: underline;
    }
    @include respond-to('medium') {
      font-size: 2.5rem;
    }
  }
  .big-text {
    font-size: 3rem;
    @include respond-to('medium') {
      font-size: 4rem;
      line-height: 3.5rem;
    }
  }
  .text-right {
    text-align: right;
  }

  footer {
    // max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    @include respond-to('medium') {
      height: auto;
    }
    small {
      color: #7d7d7d;
      letter-spacing: 1px;
    }
    .flex-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
    }
    .img-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      margin-top: 15px;
    }
    #ti {
      width: 300px;
    }
    #hfk {
      width: 75px;
    }
    #drs {
      width: 200px;
      padding: 0 15px;
    }
    #swb, #svw {
      width: 250px;
      padding: 0 15px;
    }
    .three-group {
      max-width: 700px;
      display: flex;
      align-items: center;
      justify-content: between;
    }
  }
}

#accessibility {
  border-bottom: 1px solid black;
}
