*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "RadioGrotesk";
  // font-family: "tuppence";
  // font-family: "NeueBit";
  overflow: scroll;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  @include respond-to('large') {
    min-height: 100vh;
  }
}

.hidden {
  display: none !important;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.not-visible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.noscroll {
  overflow: hidden;
}
.landing {
  // background-image: url("https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1662299717/menstruation-project/landing.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include respond-to('large') {
    background-size: cover;
  }
  .main-landing {
    margin-top: -155px;
  }
  .lead-image {
    background-image: url("/assets/images/desktop_lead_image.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .main-content {
    max-width: 1200px;
    margin: 0 auto;
    font-family: "NeueBit";
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .section-title {
    font-family: "tuppence";
    font-style: italic;
    font-weight: lighter;
    font-size: 2.5rem;
    border-bottom: 1px solid black;
  }
  .flex {
    display: flex;
    align-items: start;
    justify-content: space-betweem;
    > * {
      flex: 1;
    }
  }
}

.home {
  background-image: url("https://res.cloudinary.com/tonipanoche/image/upload/v1622220724/menstruation-project/mp_home_page_image-min_1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.map {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1622217624/menstruation-project/Sample_Digital_Experience_Home_Page.png');
  @include respond-to('large') {
    background-image: unset;
  }
}
.contact {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_contact.jpg');
}

.imprint {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_imprint.jpg');
}

.privacy {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_imprint.jpg');
}

.about {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_about.jpg');
}

.artists {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1620400400/menstruation-project/mp_background_artists.jpg')
}
