.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  @include respond-to('small') {
    flex-wrap: nowrap;
  }
  @include respond-to('large') {
    padding: 2rem 0;
    justify-content: space-around;
  }
  .box {
    text-align: center;
    display: flex;
    justify-content: center;
    @include respond-to('small') {
      flex: 1;
    }
  }
  .box:nth-child(2) {
    flex: 100%;
    order: 3;
    @include respond-to('small') {
      flex: 2;
      order: unset;
    }
  }
  .box:nth-child(3) {
    svg { width: 50px; }
    @include respond-to('medium') {
      position: relative;
      svg {
        width: unset;
      }
    }
  }
  .home-btn {
    text-decoration: none;
  }
  h1 {
    font-family: 'Apoc Light';
    font-size: 60px;
    font-weight: unset;
    color: $mint;
    margin: 0;
    padding: 10px 15px;
    border-radius: 30px;
    border: 2px solid $mint;
    @include respond-to('large') {
      font-size: 80px;
      padding: 15px 25px;
    }
  }
  h2 {
    font-family: 'Apoc Revelations Italic';
    font-size: 72px;
    font-weight: unset;
    color: $mint;
    margin: 0;
    padding: 0;
  }
  .menu-btn {
    font-family: 'Apoc Revelations Italic';
    font-size: 48px;
    text-decoration: none;
    color: $grey;
    background: inherit;
    border: none;
    cursor: pointer;
    svg {
      fill: $mint;
    }
  }
  .menu {
    position: absolute;
    font-size: 48px;
    background: $mint;
    padding: 2rem;
    border-radius: 15px;
    text-align: left;
    box-shadow: $box-shadow;
    right: 15px;
    top: 110px;
    z-index: 2;
    width: 15ch;
    @include respond-to('large') {
      top: 110px;
      right: 50px;
      width: 18ch;
      padding: 4rem 2rem;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      color: $pink;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      height: 40px;
      width: 40px;
    }
    .social-icons {
      margin: 2rem 0;
      a {
        padding-right: 1rem;
      }
    }
    .gdpr {
      font-size: 32px;
    }
  }
}

.hidden {
  display: none;
}

.cornered {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      font-family: 'Apoc Revelations Italic';
      font-size: 2rem;
      color: white;
      border-radius: 15px;
      box-shadow: $box-shadow;
      padding: .5rem 1rem;
    }
    li:first-child {
      position: absolute;
      top: 20%;
      left: 15%;
      @include respond-to('small') {
        top: 30px;
        left: 30px;
        z-index: 5;
      }
    }
    li:nth-child(2) {
      position: absolute;
      top: 5%;
      right: 15%;
      text-align: right;
      @include respond-to('small') {
        top: 30px;
        right: 30px;
        z-index: 5;
      }
    }
    li:nth-child(3) {
      position: absolute;
      bottom: 15%;
      left: 15%;
      @include respond-to('small') {
        top: unset;
        left: 30px;
        bottom: 30px;
        z-index: 5;
      }
    }
    li:nth-child(4) {
      position: absolute;
      bottom: 5%;
      right: 15%;
      @include respond-to('small') {
        top: unset;
        right: 30px;
        bottom: 30px;
        z-index: 5;
      }
    }
  }
}

#home {
  .cornered {
    @include respond-to('large') {
      height: 100vh;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    a {
      font-family: 'NeueBit';
      font-size: 5rem;
      line-height: 3rem;
      padding: 0;
      box-shadow: unset;
      border-radius: unset;
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 5px;
      }
    }
  }
}

#about-link {
  right: 37%;
  @include respond-to('large') {
    right: 30px;
  }
}

#map {
  .cornered a {
    background: $light-map;
    color: $dark-map;
    border: 2px solid $dark-map;
  }
}

#volcano {
  .cornered a {
    background: $light-volcano;
    color: $dark-volcano;
    border: 2px solid $dark-volcano;
  }
}

#anatomy {
  .cornered a {
    background: $light-anatomy;
    color: $dark-anatomy;
    border: 2px solid $dark-anatomy;
  }
}

#current-affairs {
  .cornered a {
    background: $light-affairs;
    color: $dark-affairs;
    border: 2px solid $dark-affairs;
  }
}

#leaking-bodies {
  .cornered a {
    background: $light-bodies;
    color: $dark-bodies;
    border: 2px solid $dark-bodies;
  }
}

#red-tent {
  .cornered a {
    background: $dark-tent;
    color: $light-tent;
    border: 2px solid $light-tent;
  }
}


#cycles {
  .cornered a {
    background: $light-cycles;
    color: $dark-cycles;
    border: 2px solid $dark-cycles;
  }
}

#directory {
  .cornered a {
    background: $dark-directory;
    color: $light-directory;
    border: 2px solid $light-directory;
  }
}

.landing {
  .main-nav { align-items: start; }
  .box:nth-child(1) {
    justify-content: start;
    margin-left: 5%;
    h1 {
      color: black;
      border: 2px solid black;
      @include respond-to('medium') {
        padding: 15px 25px;
        font-size: 110px;
        border-radius: 45px;
      }
    }
  }
  .box:nth-child(3) {
    justify-content: end;
    margin-right: 2%;
  }

  .menu {
    a { color: white; }
    background: black;
  }
}

