$pink: rgb(245, 0, 246);
$maroon: rgb(150, 3, 0);
$red: rgb(233, 32, 44);
$mint: rgb(119, 255, 198);
$purple: rgb(130, 112, 182);
$blue: rgb(154, 196, 218);
$grey: rgb(231, 224, 234);
$mauve: rgb(219, 191, 229);
$orange: rgb(255, 161, 65);

$box-shadow: 2px 2px 5px 1px rgb(141, 141, 141);
