#entry-video {
  z-index: 100;
}

.bg-video {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  video {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
}

:root {
  --video-width: 100vw;
  --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  :root {
    --video-height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  :root {
    --video-width: 177.78vh;
  }
}

.art-content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  // height: var(--video-height);
}
.art-content iframe {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: var(--video-width);
  // height: var(--video-height);
  // transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
