@import "variables";
@import "breakpoints";
@import "fonts";
@import "video";
@import "home";
@import "nav";
@import "about";
@import "contact";


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "RadioGrotesk";
  overflow: scroll;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  @include respond-to('large') {
    min-height: 100vh;
  }
}

.contact {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_contact.jpg');

}

.imprint {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_imprint.jpg');
}

.privacy {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_imprint.jpg');
}

.about {
  background-image: url('https://res.cloudinary.com/tonipanoche/image/upload/w_auto,dpr_auto,q_auto/v1618923382/menstruation-project/mp_background_about.jpg');
}

